.gallery-section {
  width: calc(100vw - 100px);
  position: absolute;
  right: 0;
  height: 100%;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.left-slide {
  height: 100vh;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.7s ease;
}

.left-slide div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#image-container {
  width: 80%;
  height: 45%;
  margin: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
#image-container > img {
  position: relative;
  width: 70%;
}
.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  width: 50%;
  transition: transform 0.7s ease;
  left: 50%;
}

.right-slide div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gal-img {
  position: absolute;
  width: 70%;
  left: 15%;
  top: 25%;
  z-index: 2;
  filter: drop-shadow(5px 5px 20px #222246);
  transform: translateZ(80%);
  animation: wobble 8s ease infinite;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.gal-heading {
  position: absolute;
  top: 10%;
  left: 25%;
  color: #fff;
  font-size: 5.5rem;
  justify-content: center;
  z-index: 10;
}
.gal-p {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  bottom: 10%;
  left: 25%;
  font-size: 7rem;
  font-weight: 500;
  z-index: 5;
}

.gal-card {
  position: relative;
  display: flex;
  flex-direction: column;
}
.gal-img-right {
  position: absolute;
  top: 25%;
  filter: drop-shadow(5px 5px 20px #061125);
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 45%;
  z-index: -17;
  display: none;
}
.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: -17;
  display: none;
}
.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: -17;
  display: none;
}

.in_view_left {
  transform: translateX(-200%);
  animation: pop-left 1s ease;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}
.in_view_right {
  transform: translateX(200%);
  animation: pop-right 1s ease;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}

.in_view_left-p {
  transform: translateX(-300%);
  animation: pop-left 1s ease;
  animation-delay: 1.7s;
  animation-fill-mode: forwards;
}
.in_view_right-p {
  transform: translateX(300%);
  animation: pop-right 1s ease;
  animation-delay: 1.7s;
  animation-fill-mode: forwards;
}

@keyframes pop-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  90% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes pop-right {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }

  90% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes pop-left-p {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  90% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes pop-right-p {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  90% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes wobble {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

.gallery-mobile {
  display: none;
  height: 100%;
  width: 90%;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (max-width: 1200px) {
  .gallery-section {
    width: 100vw;
    position: absolute;
    top: 100px;
    height: 90%;
  }
  .gal-img {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 180px;
  }

  .gal-heading {
    position: absolute;
    top: 130px;
    left: 25%;
  }
  .gal-p {
    position: absolute;
    bottom: 5%;
    left: 25%;
  }
}
@media screen and (max-width: 900px) {
  .gallery-section {
    display: none;
  }
  .gallery-mobile {
    display: block;
  }
  .gallery-mobile div {
    margin-bottom: 60px;
  }
  .gallery-mobile img {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    filter: drop-shadow(5px 10px 10px #68687e);
  }
}
